<section>
    <p>
        The next section contains a simple form. First section contains Angular Material components. Second section contains normal html elements.
    </p>
    <form>
        <hr/>
            <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput name="username" class="d-block" [(ngModel)]="firstName" type="text" required/>
        </mat-form-field>
        <button mat-button [disabled]="!firstName.length" type="submit" class="d-block" (click)="alert()">Say Hi</button>
        <hr/>
        <label>Last name</label>
        <input id="lastName" type="text" name="lastName" [(ngModel)]="lastName" />
    </form>
</section>